html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

/* region #EVENT LIST */
/*.event-list {*/
    /*list-style: none;*/
    /*font-family: 'Lato', sans-serif;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*.event-list > li {*/
    /*background-color: rgb(255, 255, 255);*/
    /*box-shadow: 0 0 5px rgb(51, 51, 51);*/
    /*box-shadow: 0 0 5px rgba(51, 51, 51, 0.7);*/
    /*padding: 0;*/
    /*margin: 0 0 20px;*/
/*}*/

/*.event-list > li > time {*/
    /*display: inline-block;*/
    /*width: 100%;*/
    /*color: rgb(255, 255, 255);*/
    /*background-color: rgb(197, 44, 102);*/
    /*padding: 5px;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
/*}*/

/*.event-list > li:nth-child(even) > time {*/
    /*background-color: rgb(165, 82, 167);*/
/*}*/

/*.event-list > li > time > span {*/
    /*display: none;*/
/*}*/

/*.event-list > li > time > .day {*/
    /*display: block;*/
    /*font-size: 56pt;*/
    /*font-weight: 100;*/
    /*line-height: 1;*/
/*}*/

/*.event-list > li time > .month {*/
    /*display: block;*/
    /*font-size: 24pt;*/
    /*font-weight: 900;*/
    /*line-height: 1;*/
/*}*/

/*.event-list > li > img {*/
    /*width: 100%;*/
/*}*/

/*.event-list > li > .info {*/
    /*padding-top: 5px;*/
    /*text-align: center;*/
/*}*/

/*.event-list > li > .info > .title {*/
    /*font-size: 17pt;*/
    /*font-weight: 700;*/
    /*margin: 0;*/
/*}*/

/*.event-list > li > .info > .desc {*/
    /*font-size: 13pt;*/
    /*font-weight: 300;*/
    /*margin: 0;*/
/*}*/

/*.event-list > li > .info > ul,*/
/*.event-list > li > .social > ul {*/
    /*display: table;*/
    /*list-style: none;*/
    /*margin: 10px 0 0;*/
    /*padding: 0;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

/*.event-list > li > .social > ul {*/
    /*margin: 0;*/
/*}*/

/*.event-list > li > .info > ul > li,*/
/*.event-list > li > .social > ul > li {*/
    /*display: table-cell;*/
    /*cursor: pointer;*/
    /*color: rgb(30, 30, 30);*/
    /*font-size: 11pt;*/
    /*font-weight: 300;*/
    /*padding: 3px 0;*/
/*}*/

/*.event-list > li > .info > ul > li > a {*/
    /*display: block;*/
    /*width: 100%;*/
    /*color: rgb(30, 30, 30);*/
    /*text-decoration: none;*/
/*}*/

/*.event-list > li > .social > ul > li {*/
    /*padding: 0;*/
/*}*/

/*.event-list > li > .social > ul > li > a {*/
    /*padding: 3px 0;*/
/*}*/

/*.event-list > li > .info > ul > li:hover,*/
/*.event-list > li > .social > ul > li:hover {*/
    /*color: rgb(30, 30, 30);*/
    /*background-color: rgb(200, 200, 200);*/
/*}*/

/* region SOCIALS */
/*Facebook #3B5998*/
/*Flickr #FE0883*/
/*Foursquare #8FD400*/
/*Google+ #C63D2D*/
/*Instagram #4E433C*/
/*Linkedin #4875B4*/
/*Tumblr #2B4964*/
/*Twitter #33CCFF*/
/*Vimeo #86B32D*/
/*Skype #12A5F4*/
/*VK #45668e*/
/*Youtube #FF3333*/
/*Bitbucket #205081*/
/*http://brandcolors.net*//*/*/

/*.facebook a,*/
/*.twitter a,*/
/*.linked a,*/
/*.skype a,*/
/*.vk a,*/
/*.bitbucket a,*/
/*.github a,*/
/*.google-plus a {*/
    /*display: block;*/
    /*width: 100%;*/
/*}*/

/*.facebook a {*/
    /*color: #3B5998;*/
/*}*/

/*.twitter a {*/
    /*color: #33CCFF;*/
/*}*/

/*.google-plus a {*/
    /*color: #C63D2D;*/
/*}*/

/*.linkedin a {*/
    /*color: #4875B4;*/
/*}*/

/*.skype a {*/
    /*color: #12A5F4;*/
/*}*/

/*.vk a {*/
    /*color: #45668e;*/
/*}*/

/*.bitbucket a {*/
    /*color: #205081;*/
/*}*/

/*.github a {*/
    /*color: #333;*/
/*}*/

/*.facebook:hover a {*/
    /*color: #fff !important;*/
    /*background-color: #3B5998 !important;*/
/*}*/

/*.twitter:hover a {*/
    /*color: #fff !important;*/
    /*background-color: #33CCFF !important;*/
/*}*/

/*.google-plus:hover a {*/
    /*color: #fff !important;*/
    /*background-color: #C63D2D !important;*/
/*}*/

/*.linkedin:hover a {*/
    /*color: #fff !important;*/
    /*background-color: #4875B4 !important;*/
/*}*/

/*.skype:hover a {*/
    /*color: #fff !important;*/
    /*background-color: #12A5F4 !important;*/
/*}*/

/*.vk:hover a {*/
    /*color: #fff !important;*/
    /*background-color: #45668e !important;*/
/*}*/

/*.bitbucket:hover a {*/
    /*color: #fff !important;*/
    /*background-color: #205081 !important;*/
/*}*/

/*.github:hover a {*/
    /*color: #fff !important;*/
    /*background-color: #333 !important;*/
/*}*/
/* endregion */

/*@media (min-width: 768px) {*/
    /*.event-list > li {*/
        /*border: 1px solid rgb(230, 230, 230);*/
        /*position: relative;*/
        /*display: block;*/
        /*width: 100%;*/
        /*height: 160px;*/
        /*padding: 0;*/
    /*}*/

    /*.event-list > li > time,*/
    /*.event-list > li > img {*/
        /*display: inline-block;*/
    /*}*/

    /*.event-list > li > time,*/
    /*.event-list > li > img {*/
        /*width: 120px;*/
        /*float: left;*/
    /*}*/

    /*.event-list > li > .info {*/
        /*background-color: rgb(245, 245, 245);*/
        /*overflow: hidden;*/
    /*}*/

    /*.event-list > li > time,*/
    /*.event-list > li > img {*/
        /*width: 120px;*/
        /*height: 160px;*/
        /*padding: 0;*/
        /*margin: 0;*/
    /*}*/

    /*.event-list > li > .info {*/
        /*position: relative;*/
        /*height: 100%;*/
        /*text-align: left;*/
        /*padding-right: 80px;*/
    /*}*/

    /*.event-list > li > .info > .title,*/
    /*.event-list > li > .info > .desc {*/
        /*padding: 0 10px;*/
    /*}*/

    /*.event-list > li > .info > ul {*/
        /*position: absolute;*/
        /*left: 0;*/
        /*bottom: 0;*/
    /*}*/

    /*.event-list > li > .social {*/
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
        /*display: block;*/
        /*width: 81px;*/
        /*border-left: 1px solid rgb(230, 230, 230);*/
    /*}*/

    /*.event-list > li > .social > ul:after {*/
        /*content: ' ';*/
        /*clear: both;*/
        /*display: table;*/
    /*}*/

    /*.event-list > li > .social > ul > li {*/
        /*display: block;*/
        /*float: left;*/
        /*padding: 0;*/
        /*width: 40px;*/
    /*}*/

    /*.event-list > li > .social > ul > li > a {*/
        /*display: block;*/
        /*padding: 10px 0 9px;*/
    /*}*/
/*}*/

/* endregion */