@mixin clearfix {
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  color: #3575bd;

  &:hover {
    color: #245388;
  }
}

.label, .alert {
  font-weight: 400;
}

.modal-image-crop-box {
  height: 100%;
  width: 558px;

  > img {
    max-width: 100%;
  }
}

.candidate-list {
  $border-color: #ebeef1;
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;

  & > li {
    @include clearfix;
    display: block;
    position: relative;
    margin-bottom: 20px;

    &.rockstar {
      .candidate-inner {
        box-shadow: 0 0 0 1px rgba(39, 174, 96, .4);
      }
    }

    &.jackpot {
      .candidate-inner {
        box-shadow: 0 0 0 1px rgba(245, 105, 84, .4);
      }
    }
  }

  .candidate-inner {
    @include clearfix;

    overflow: hidden;

    background-color: #fff;
    border: 1px solid $border-color;
    box-shadow: 0 2px 1px -1px $border-color;
    border-top: 0;
  }

  .interview-list {
    @include clearfix;

    list-style: none;
    padding: 0;

    width: 177px;
    margin-right: 3px;
//    overflow-y: auto;
    max-height: 161px;
    float: left;
    clear: none;

    & > li {
      position: relative;
      float: left;

      &:nth-child(2n) {
        margin-left: 7px;
      }

      &:nth-child(n + 3) {
        margin-top: 10px;
      }

      span {
        text-align: center;
        text-decoration: none;
      }

      &.completed {
        .date-holder-inner {
          background-color: #ccc;
        }
      }
    }

    .date-holder {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #fff;
      cursor: pointer;
      height: 75px;
      padding: 3px;
      position: relative;
      width: 80px;
      -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);

      &:before,
      &:after {
        background: inherit;
        border-bottom: 1px solid #628117;
        content: ' ';
        height: 7px;
        margin: -3.5px 0 0;
        position: absolute;
        top: 50%;
        width: 3px;
        z-index: 2;
      }

      &:before {
        left: 3px;
      }

      &:after {
        right: 3px;
      }
    }

    .date-holder-inner {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      background: #9ac92a;
      height: 100%;
      margin: 0;
      position: relative;
      text-align: center;
      width: 100%;
      -webkit-box-shadow: inset 0 7px 6px -6px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 7px 6px -6px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 7px 6px -6px rgba(0, 0, 0, 0.5);

      & > span {
        color: white;
        display: block;
        line-height: initial;
        text-transform: uppercase;

        &.month-year {
          font: {
            size: 11px;
            weight: 700;
          }

          padding: 4px 0 0;
        }

        &.day {
          font-size: 30px;
          line-height: 35px;
        }

        &.time {
          line-height: 10px;
        }
      }

      &:before {
        background: rgba(98, 129, 23, .2);
        border-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        content: '';
        height: 50%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }

  .img-container {
    $size: 140px;

    $image-size: 110px;

    float: left;
    margin: 10px 0 10px 15px;
    text-align: center;
    line-height: $size;
    position: relative;
    height: $size;
    width: $size;

    img {
      max-height: $image-size;
      max-width: $image-size;
    }

    .no-logo {
      background: #eee;
      text-align: center;
      overflow: hidden;
      margin: 15px auto 0;
      line-height: $image-size;
      height: $image-size;
      width: $image-size;

      .fa {
        color: #fff;
        font-size: 75px;
        margin-top: 15px;
      }
    }

    .img-action-box {
      -webkit-transition: opacity .2s;
      transition: opacity .2s;
      overflow: hidden;
      opacity: 0;
      background: rgba(0, 0, 0, .1);
      position: absolute;
      top: 50%;
      left: 50%;
      margin: (-$image-size / 2) 0 0 (-$image-size / 2);
      height: $image-size;
      width: $image-size;
    }

    .img-action-list {
      @include clearfix;

      background: rgba(0, 0, 0, .7);
      list-style: none;
      padding: 0;
      position: absolute;
      font-size: 17px;
      top: 50%;
      left: 0;
      line-height: 34px;
      margin-top: -17px;
      text-align: center;
      width: 100%;

      > li {
        display: inline-block;

        + li {
          margin-left: 10px;
        }

        a {
          @extend .file-input-box;;

          -webkit-transition: color .2s;
          transition: color .2s;

          color: #ccc;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    &:hover {
      .img-action-box {
        opacity: 1;
      }
    }
  }

  .info-container {
    @include clearfix;
    padding: 10px 10px 0 20px;
    position: relative;
    margin: 0 81px 0 155px;

    h3 {
      margin-top: 0;
      margin-bottom: 5px;
      overflow: hidden;
      line-height: 1.2;

      span {
        color: #777;
        font: {
          size: 15px;
        }
      ;
      }
    }

    .user-info-created {
      color: #a1a1a1;
      display: block;
      font-size: 12px;
      margin-bottom: 10px;

      .fa {
        margin-left: 3px;
      }
    }

    .feedback-info,
    .user-info {
      float: left;
      list-style: none;
      padding-left: 0;
      padding-right: 30px;
    }

    .user-info-skill {
      overflow: hidden;
      width: 100%;

      .label {
        margin-right: 5px;
      }
    }

    .feedback-info {
      float: none;
      font-size: 13px;
      padding: 0;
      max-height: 84px;
      overflow-y: auto;

      span {
        & + span {
          &:before {
            content: '|';
            margin: 0 4px;
          }
        }
      }

      .fa {
        margin-right: 4px;
      }

      li {
        @include ellipsis();
        padding: 3px 4px;

        &.met-requirement {
          border: 2px solid;

          &.no {
            border-color: rgba(240, 65, 36, .4);

            span:before {
              color: rgba(240, 65, 36, .4);
            }
          }

          &.yes {
            border-color: rgba(67, 172, 106, .4);

            span:before {
              color: rgba(67, 172, 106, .4);
            }
          }

          &.not_sure {
            border-color: rgba(233, 144, 2, .4);

            span:before {
              color: rgba(233, 144, 2, .4);
            }
          }
        }
      }
    }

    .lnk-skill-edit {
      color: #5e5e5e;
      margin-left: 2px;
      -webkit-transition: .2s;
      transition: .2s;

      &:hover {
        color: #7e7e7e;
      }

      .fa {
        font-size: 12px;
      }
    }
  }

  .additional-info {
    @include clearfix;
    list-style: none;
    margin-top: -10px;

    li {
      float: left;

      & + li {
        margin-left: 6px;
      }
    }

    a {
      $size: 40px;
      color: #5e5e5e;
      font-size: 16px;
      display: block;
      line-height: $size;
      text-align: center;
      position: relative;
      -webkit-transition: .2s;
      transition: .2s;
      height: $size;
      width: $size;

      &:hover {
        background-color: #eee
      }

      > .label {
        position: absolute;
        //        top: 7px;
        //        right: 5px;
        font-size: 10px;
        width: 18px;
        height: 16px;
        line-height: 1em;
        text-align: center;
        padding: 2px;
        font-weight: 700;
      }
    }
  }

  .social-container {
    border-left: 1px solid $border-color;
    float: right;
    width: 81px;

    ul {
      padding: 0;
    }

    .si {
      float: left;
    }
  }

}

.si {
  $size: 40px;

  list-style: none;
  text-align: center;
  line-height: $size;
  height: $size;
  width: $size;

  a {
    font-size: 16px;
    display: block;
    -webkit-transition: .2s;
    transition: .2s;

    &:hover {
      color: #fff;
    }
  }
}

$facebook: #3B5998;
$twitter: #33CCFF;
$google-plus: #C63D2D;
$linkedin: #4875B4;
$skype: #12A5F4;
$xing: #126567;
$vk: #45668e;
$bitbucket: #205081;
$github: #333;
$stack-overflow: #FE7A15;
$mobile: #5e5e5e;
$email: #a82400;

.si-facebook a {
  color: $facebook;

  &:hover {
    background-color: $facebook;
  }
}

.si-twitter a {
  color: $twitter;

  &:hover {
    background-color: $twitter;
  }
}

.si-google-plus a {
  color: $google-plus;

  &:hover {
    background-color: $google-plus;
  }
}

.si-linkedin a {
  color: $linkedin;

  &:hover {
    background-color: $linkedin;
  }
}

.si-skype a {
  color: $skype;

  &:hover {
    background-color: $skype;
  }
}

.si-vk a {
  color: $vk;

  &:hover {
    background-color: $vk;
  }
}

.si-bitbucket a {
  color: $bitbucket;

  &:hover {
    background-color: $bitbucket;
  }
}

.si-github a {
  color: $github;

  &:hover {
    background-color: $github;
  }
}

.si-xing a {
  color: $xing;

  &:hover {
    background-color: $xing;
  }
}

.si-stack-overflow a {
  color: $stack-overflow;

  &:hover {
    background-color: $stack-overflow;
  }
}

.si-mobile a {
  color: $mobile;

  &:hover {
    background-color: $mobile;
  }
}

.si-email a {
  color: $email;

  &:hover {
    background-color: $email;
  }
}

/* endregion */

/* endregion */

/* region conversation */
.timeline-seperator {
  display: block;
  text-align: center;
  color: #999;
  margin: 20px 0 0;

  &:after {
    display: block;
    content: " ";
    margin: 0 20px;
    border-bottom: 1px dashed rgba(0, 0, 0, .1);
    margin-top: -8px;
  }

  & > :first-child {
    padding: 4px 5px;
    border: 1px dashed rgba(0, 0, 0, .1);
    background: #fff;
    font-size: 11px;
    border-radius: 4px;
  }
}

.profile-message {
  background: none !important;
  height: auto !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  overflow: hidden;
}

.chat-body {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #fff;
  border-top: none;
  font-size: 13px;
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;

  .font-xs {
    font-size: 85% !important;
  }

  .input-xs {
    height: 24px;
    padding: 2px 10px;
    font-size: 11px;
    line-height: 1.5;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      &:first-child {
        margin-top: 10px;
      }

      &.message {
        display: block;
        position: relative;
        margin: 20px 20px 0;

        .message-text {
          display: inline-block;
          vertical-align: top;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          padding: 0;
          margin-left: 65px;
          line-height: normal;

          a {
            &.username {
              display: block;
              font-weight: 700;
              margin-bottom: 4px;
              vertical-align: top;
              line-height: 14px;
              font-size: 14px;
              letter-spacing: -1px;
              text-decoration: none !important;
            }
          }
        }

        img {
          display: inline-block;
          border-left: 4px solid #fff;
          position: absolute;

          &.online {
            border-left-color: #40ac2b !important;
          }
        }

        &.message-reply {
          background: #F7F7F7;
          padding: 10px;
          margin: 3px 0 0 85px;

          img {
            width: 35px !important;
          }

          .message-text {
            margin-left: 45px !important;
          }
        }
      }
    }

  }
}

/* endregion */

/* region CV */
#cv-modal {
  .btn-modal-add-new {
    @extend .file-input-box;
  }
}

.cv-item {
  padding: 7px 0;
  font-size: 12px;
  color: #444;
  display: block;
  white-space: nowrap;
  position: relative;
  -webkit-transition: .25s;
  transition: .25s;

  small {
    color: #999;
    font-size: 10px;
    padding: 0 3px;
    line-height: 27px;
  }

  > .pull-right {
    margin-right: 5px;

    .btn {
      margin-left: 5px;
    }
  }

  & + & {
    border-top: 1px solid #f0f0f0;
  }

  &:hover {
    background: #f6f6f6;
  }

  .icon-cv {
    width: 25px;
    text-align: center;
    padding: 6px 0;
    background: #27ae60;
    margin: 5px;
    border-radius: 4px;
    color: #FFF;
  }
}

/* endregion */

/* FILE INPUT */
.file-input-box {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #fff;
    cursor: inherit;
    display: block;
  }
}

// fix for jquery crop
.jcrop-keymgr {
  left: -1000px !important;
}

// tagsinput
div.bootstrap-tagsinput {
  width: 100%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
}

.modal-contact-menu {
  margin: 0 0 20px 0;
  padding: 0;
  overflow: hidden;

  .si {
    float: left;
  }
}

// quick fix for modal
.modal-backdrop {
  z-index: 0;
}

//
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .4);

  &:hover {
    background-color: rgba(0, 0, 0, .7);
  }
}