a {
  color: #3575bd; }
  a:hover {
    color: #245388; }

.label, .alert {
  font-weight: 400; }

.modal-image-crop-box {
  height: 100%;
  width: 558px; }
  .modal-image-crop-box > img {
    max-width: 100%; }

.candidate-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }
  .candidate-list > li {
    zoom: 1;
    display: block;
    position: relative;
    margin-bottom: 20px; }
    .candidate-list > li:before, .candidate-list > li:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .candidate-list > li:after {
      clear: both; }
    .candidate-list > li.rockstar .candidate-inner {
      box-shadow: 0 0 0 1px rgba(39, 174, 96, 0.4); }
    .candidate-list > li.jackpot .candidate-inner {
      box-shadow: 0 0 0 1px rgba(245, 105, 84, 0.4); }
  .candidate-list .candidate-inner {
    zoom: 1;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ebeef1;
    box-shadow: 0 2px 1px -1px #ebeef1;
    border-top: 0; }
    .candidate-list .candidate-inner:before, .candidate-list .candidate-inner:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .candidate-list .candidate-inner:after {
      clear: both; }
  .candidate-list .interview-list {
    zoom: 1;
    list-style: none;
    padding: 0;
    width: 177px;
    margin-right: 3px;
    max-height: 161px;
    float: left;
    clear: none; }
    .candidate-list .interview-list:before, .candidate-list .interview-list:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .candidate-list .interview-list:after {
      clear: both; }
    .candidate-list .interview-list > li {
      position: relative;
      float: left; }
      .candidate-list .interview-list > li:nth-child(2n) {
        margin-left: 7px; }
      .candidate-list .interview-list > li:nth-child(n + 3) {
        margin-top: 10px; }
      .candidate-list .interview-list > li span {
        text-align: center;
        text-decoration: none; }
      .candidate-list .interview-list > li.completed .date-holder-inner {
        background-color: #ccc; }
    .candidate-list .interview-list .date-holder {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #fff;
      cursor: pointer;
      height: 75px;
      padding: 3px;
      position: relative;
      width: 80px;
      -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2); }
      .candidate-list .interview-list .date-holder:before, .candidate-list .interview-list .date-holder:after {
        background: inherit;
        border-bottom: 1px solid #628117;
        content: ' ';
        height: 7px;
        margin: -3.5px 0 0;
        position: absolute;
        top: 50%;
        width: 3px;
        z-index: 2; }
      .candidate-list .interview-list .date-holder:before {
        left: 3px; }
      .candidate-list .interview-list .date-holder:after {
        right: 3px; }
    .candidate-list .interview-list .date-holder-inner {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      background: #9ac92a;
      height: 100%;
      margin: 0;
      position: relative;
      text-align: center;
      width: 100%;
      -webkit-box-shadow: inset 0 7px 6px -6px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 7px 6px -6px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 7px 6px -6px rgba(0, 0, 0, 0.5); }
      .candidate-list .interview-list .date-holder-inner > span {
        color: white;
        display: block;
        line-height: initial;
        text-transform: uppercase; }
        .candidate-list .interview-list .date-holder-inner > span.month-year {
          font-size: 11px;
          font-weight: 700;
          padding: 4px 0 0; }
        .candidate-list .interview-list .date-holder-inner > span.day {
          font-size: 30px;
          line-height: 35px; }
        .candidate-list .interview-list .date-holder-inner > span.time {
          line-height: 10px; }
      .candidate-list .interview-list .date-holder-inner:before {
        background: rgba(98, 129, 23, 0.2);
        border-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        content: '';
        height: 50%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1; }
  .candidate-list .img-container {
    float: left;
    margin: 10px 0 10px 15px;
    text-align: center;
    line-height: 140px;
    position: relative;
    height: 140px;
    width: 140px; }
    .candidate-list .img-container img {
      max-height: 110px;
      max-width: 110px; }
    .candidate-list .img-container .no-logo {
      background: #eee;
      text-align: center;
      overflow: hidden;
      margin: 15px auto 0;
      line-height: 110px;
      height: 110px;
      width: 110px; }
      .candidate-list .img-container .no-logo .fa {
        color: #fff;
        font-size: 75px;
        margin-top: 15px; }
    .candidate-list .img-container .img-action-box {
      -webkit-transition: opacity .2s;
      transition: opacity .2s;
      overflow: hidden;
      opacity: 0;
      background: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -55px 0 0 -55px;
      height: 110px;
      width: 110px; }
    .candidate-list .img-container .img-action-list {
      zoom: 1;
      background: rgba(0, 0, 0, 0.7);
      list-style: none;
      padding: 0;
      position: absolute;
      font-size: 17px;
      top: 50%;
      left: 0;
      line-height: 34px;
      margin-top: -17px;
      text-align: center;
      width: 100%; }
      .candidate-list .img-container .img-action-list:before, .candidate-list .img-container .img-action-list:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .candidate-list .img-container .img-action-list:after {
        clear: both; }
      .candidate-list .img-container .img-action-list > li {
        display: inline-block; }
        .candidate-list .img-container .img-action-list > li + li {
          margin-left: 10px; }
        .candidate-list .img-container .img-action-list > li a {
          -webkit-transition: color .2s;
          transition: color .2s;
          color: #ccc; }
          .candidate-list .img-container .img-action-list > li a:hover {
            color: #fff; }
    .candidate-list .img-container:hover .img-action-box {
      opacity: 1; }
  .candidate-list .info-container {
    zoom: 1;
    padding: 10px 10px 0 20px;
    position: relative;
    margin: 0 81px 0 155px; }
    .candidate-list .info-container:before, .candidate-list .info-container:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .candidate-list .info-container:after {
      clear: both; }
    .candidate-list .info-container h3 {
      margin-top: 0;
      margin-bottom: 5px;
      overflow: hidden;
      line-height: 1.2; }
      .candidate-list .info-container h3 span {
        color: #777;
        font-size: 15px; }
    .candidate-list .info-container .user-info-created {
      color: #a1a1a1;
      display: block;
      font-size: 12px;
      margin-bottom: 10px; }
      .candidate-list .info-container .user-info-created .fa {
        margin-left: 3px; }
    .candidate-list .info-container .feedback-info,
    .candidate-list .info-container .user-info {
      float: left;
      list-style: none;
      padding-left: 0;
      padding-right: 30px; }
    .candidate-list .info-container .user-info-skill {
      overflow: hidden;
      width: 100%; }
      .candidate-list .info-container .user-info-skill .label {
        margin-right: 5px; }
    .candidate-list .info-container .feedback-info {
      float: none;
      font-size: 13px;
      padding: 0;
      max-height: 84px;
      overflow-y: auto; }
      .candidate-list .info-container .feedback-info span + span:before {
        content: '|';
        margin: 0 4px; }
      .candidate-list .info-container .feedback-info .fa {
        margin-right: 4px; }
      .candidate-list .info-container .feedback-info li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 3px 4px; }
        .candidate-list .info-container .feedback-info li.met-requirement {
          border: 2px solid; }
          .candidate-list .info-container .feedback-info li.met-requirement.no {
            border-color: rgba(240, 65, 36, 0.4); }
            .candidate-list .info-container .feedback-info li.met-requirement.no span:before {
              color: rgba(240, 65, 36, 0.4); }
          .candidate-list .info-container .feedback-info li.met-requirement.yes {
            border-color: rgba(67, 172, 106, 0.4); }
            .candidate-list .info-container .feedback-info li.met-requirement.yes span:before {
              color: rgba(67, 172, 106, 0.4); }
          .candidate-list .info-container .feedback-info li.met-requirement.not_sure {
            border-color: rgba(233, 144, 2, 0.4); }
            .candidate-list .info-container .feedback-info li.met-requirement.not_sure span:before {
              color: rgba(233, 144, 2, 0.4); }
    .candidate-list .info-container .lnk-skill-edit {
      color: #5e5e5e;
      margin-left: 2px;
      -webkit-transition: .2s;
      transition: .2s; }
      .candidate-list .info-container .lnk-skill-edit:hover {
        color: #7e7e7e; }
      .candidate-list .info-container .lnk-skill-edit .fa {
        font-size: 12px; }
  .candidate-list .additional-info {
    zoom: 1;
    list-style: none;
    margin-top: -10px; }
    .candidate-list .additional-info:before, .candidate-list .additional-info:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    .candidate-list .additional-info:after {
      clear: both; }
    .candidate-list .additional-info li {
      float: left; }
      .candidate-list .additional-info li + li {
        margin-left: 6px; }
    .candidate-list .additional-info a {
      color: #5e5e5e;
      font-size: 16px;
      display: block;
      line-height: 40px;
      text-align: center;
      position: relative;
      -webkit-transition: .2s;
      transition: .2s;
      height: 40px;
      width: 40px; }
      .candidate-list .additional-info a:hover {
        background-color: #eeeeee; }
      .candidate-list .additional-info a > .label {
        position: absolute;
        font-size: 10px;
        width: 18px;
        height: 16px;
        line-height: 1em;
        text-align: center;
        padding: 2px;
        font-weight: 700; }
  .candidate-list .social-container {
    border-left: 1px solid #ebeef1;
    float: right;
    width: 81px; }
    .candidate-list .social-container ul {
      padding: 0; }
    .candidate-list .social-container .si {
      float: left; }

.si {
  list-style: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px; }
  .si a {
    font-size: 16px;
    display: block;
    -webkit-transition: .2s;
    transition: .2s; }
    .si a:hover {
      color: #fff; }

.si-facebook a {
  color: #3b5998; }
  .si-facebook a:hover {
    background-color: #3b5998; }

.si-twitter a {
  color: #33ccff; }
  .si-twitter a:hover {
    background-color: #33ccff; }

.si-google-plus a {
  color: #c63d2d; }
  .si-google-plus a:hover {
    background-color: #c63d2d; }

.si-linkedin a {
  color: #4875b4; }
  .si-linkedin a:hover {
    background-color: #4875b4; }

.si-skype a {
  color: #12a5f4; }
  .si-skype a:hover {
    background-color: #12a5f4; }

.si-vk a {
  color: #45668e; }
  .si-vk a:hover {
    background-color: #45668e; }

.si-bitbucket a {
  color: #205081; }
  .si-bitbucket a:hover {
    background-color: #205081; }

.si-github a {
  color: #333333; }
  .si-github a:hover {
    background-color: #333333; }

.si-xing a {
  color: #126567; }
  .si-xing a:hover {
    background-color: #126567; }

.si-stack-overflow a {
  color: #fe7a15; }
  .si-stack-overflow a:hover {
    background-color: #fe7a15; }

.si-mobile a {
  color: #5e5e5e; }
  .si-mobile a:hover {
    background-color: #5e5e5e; }

.si-email a {
  color: #a82400; }
  .si-email a:hover {
    background-color: #a82400; }

/* endregion */
/* endregion */
/* region conversation */
.timeline-seperator {
  display: block;
  text-align: center;
  color: #999;
  margin: 20px 0 0; }
  .timeline-seperator:after {
    display: block;
    content: " ";
    margin: 0 20px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    margin-top: -8px; }
  .timeline-seperator > :first-child {
    padding: 4px 5px;
    border: 1px dashed rgba(0, 0, 0, 0.1);
    background: #fff;
    font-size: 11px;
    border-radius: 4px; }

.profile-message {
  background: none !important;
  height: auto !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  overflow: hidden; }

.chat-body {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #fff;
  border-top: none;
  font-size: 13px;
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif; }
  .chat-body .font-xs {
    font-size: 85% !important; }
  .chat-body .input-xs {
    height: 24px;
    padding: 2px 10px;
    font-size: 11px;
    line-height: 1.5; }
  .chat-body ul {
    margin: 0;
    padding: 0; }
    .chat-body ul li:first-child {
      margin-top: 10px; }
    .chat-body ul li.message {
      display: block;
      position: relative;
      margin: 20px 20px 0; }
      .chat-body ul li.message .message-text {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0;
        margin-left: 65px;
        line-height: normal; }
        .chat-body ul li.message .message-text a.username {
          display: block;
          font-weight: 700;
          margin-bottom: 4px;
          vertical-align: top;
          line-height: 14px;
          font-size: 14px;
          letter-spacing: -1px;
          text-decoration: none !important; }
      .chat-body ul li.message img {
        display: inline-block;
        border-left: 4px solid #fff;
        position: absolute; }
        .chat-body ul li.message img.online {
          border-left-color: #40ac2b !important; }
      .chat-body ul li.message.message-reply {
        background: #F7F7F7;
        padding: 10px;
        margin: 3px 0 0 85px; }
        .chat-body ul li.message.message-reply img {
          width: 35px !important; }
        .chat-body ul li.message.message-reply .message-text {
          margin-left: 45px !important; }

/* endregion */
/* region CV */
.cv-item {
  padding: 7px 0;
  font-size: 12px;
  color: #444;
  display: block;
  white-space: nowrap;
  position: relative;
  -webkit-transition: .25s;
  transition: .25s; }
  .cv-item small {
    color: #999;
    font-size: 10px;
    padding: 0 3px;
    line-height: 27px; }
  .cv-item > .pull-right {
    margin-right: 5px; }
    .cv-item > .pull-right .btn {
      margin-left: 5px; }
  .cv-item + .cv-item {
    border-top: 1px solid #f0f0f0; }
  .cv-item:hover {
    background: #f6f6f6; }
  .cv-item .icon-cv {
    width: 25px;
    text-align: center;
    padding: 6px 0;
    background: #27ae60;
    margin: 5px;
    border-radius: 4px;
    color: #FFF; }

/* endregion */
/* FILE INPUT */
.file-input-box, .candidate-list .img-container .img-action-list > li a, #cv-modal .btn-modal-add-new {
  position: relative;
  overflow: hidden; }
  .file-input-box input[type=file], .candidate-list .img-container .img-action-list > li a input[type=file], #cv-modal .btn-modal-add-new input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #fff;
    cursor: inherit;
    display: block; }

.jcrop-keymgr {
  left: -1000px !important; }

div.bootstrap-tagsinput {
  width: 100%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0; }

.modal-contact-menu {
  margin: 0 0 20px 0;
  padding: 0;
  overflow: hidden; }
  .modal-contact-menu .si {
    float: left; }

.modal-backdrop {
  z-index: 0; }

::-webkit-scrollbar {
  width: 2px;
  height: 2px; }

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); }
  ::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.05); }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4); }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7); }
